:root {
    --ballons-min-height-width: 4rem;
    --calculator-width: 18.1rem;
    --display-bottom-height: 3.3rem;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e8eaed;
}

body {
    background-color: rgba(0, 0, 0, 1);
    margin: auto;
    height: 90vh;
}

.para-author, a {
    font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.para-author {
    text-align: center;
    margin-top: min(5rem, 2rem);
}

.github-link {
    background: linear-gradient(90deg,
     rgba(214,123,3,1) 10%,
      rgba(214,141,3,1) 20%,
       rgba(249,235,22,1) 30%,
        rgba(109,161,65,1) 40%,
         rgba(56,196,152,1) 50%,
          rgba(30,84,190,1) 60%,
           rgba(149,28,204,1) 70%,
            rgba(201,37,137,1) 80%,
             rgba(219,13,83,1) 90%,
              rgba(255,0,0,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
}

.options {
    min-width: 10rem;
    max-width: 17rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 2rem auto 2rem auto;
}

.slider-section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.para-slider {
    margin: .5rem;
    margin-right: auto;
}


code {
    background-color: rgba(255, 255, 255, .3);
    border-radius: .2rem;
    padding: 0rem .3rem 0rem .3rem;
    font-family: 'Courier New', Courier, monospace;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, .3);
    outline: none;
    width: 3rem;
    height: 1.8rem;
    padding: .2rem;
    margin: auto 0rem auto auto;
    border-radius: 3.125rem;
    cursor: pointer;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 3.125rem; 
    background: rgba(255, 255, 255, 1); 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb { /*for mozilla browser */
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 3.125rem;  
    background: rgba(255, 255, 255, 1); 
    cursor: pointer; 
  }

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: var(--calculator-width);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.display-input-section {
    display: flex;
    align-items: center;
}

.display-top {
    width: 15rem;
    height: 2.25rem;;
    text-align: end;
    padding: 0rem .5rem 0rem 0rem;
    margin: 0rem 2.45rem .5rem 0rem;
    opacity: .7;
    overflow: hidden;
    /* border: .1rem solid pink; */
}

.display-bottom {
    height: var(--display-bottom-height);
    width: 15rem;
    font-size: 3rem;
    text-align: end;
    line-height: var(--display-bottom-height);
    overflow: hidden;
    /* border: .1rem solid pink; */
}

#delete-icon {
    width: 2.5rem;
    height: 1.5rem;
    opacity: .8;
}

#delete-icon:hover {
    cursor: pointer;
}

.user-message {
    width: var(--calculator-width);
    height: 1.125rem;
    margin: 0rem 0rem .5rem 0rem;
    text-align: center;
    color: rgba( 242, 139, 130, 1);
    overflow: hidden;
    /* border: .1rem solid pink; */
}

.input-section {
    width: var(--calculator-width);
    height: 22.8rem; 
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: .7rem;
}

.btn-row {
    display: flex;
    gap: .7rem;
}

.ballons {
    font-size: 1.75rem;
    font-weight: 100;
    min-height: var(--ballons-min-height-width);
    min-width: var(--ballons-min-height-width);
    border-radius: 3.125rem;
    text-align: center;
    line-height: var(--ballons-min-height-width);
}

.ballons:hover {
    cursor: pointer;
    opacity: .85;
}

.miscellaneous {
    background-color: grey;
    color:rgba(32, 33, 36, 1)
}

.operand {
    background-color: rgba(255, 255, 255, .15);
}

.operator {
    background-color: rgb(220, 134, 5, 1);
    font-size: 2.2rem;
}

#zero {
    flex: 2;
    text-align: left;
    padding: 0rem 0rem 0rem 1.5rem;
}

